#call
    background-color: #f1f8f9
    h1
        color: #36b3bd
        font-size: 65px
        font-weight: 700
    h5
        color: #676f8b
        font-size: 20px
        line-height: 1.3
        margin: 25px 75px 50px 0
    .btn
        background-color: #38b6c1
        padding: 13px 34px
        h2
            color: #ffffff
            font-size: 20px
            &:hover
                cursor: pointer
        &:hover
            cursor: pointer
            background-color: #3d4d5e
    // .imgbox
    //     width: 520px